@import '../../../styles/styles';

.detail-btn {
  margin: 10px;
  font-weight: 500;
  width: 120px;
  height: 50px;
  border: 1px solid $borderColor !important;
  transition: all 0.5s;
  cursor: pointer;

  display: inline-block;
  position: relative;

  &::after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 46%;
    transform: translateY(-45%);
    right: -20px;
    transition: 0.5s;
  }

  &:hover {
    padding-right: 24px;
    padding-left: 8px;
  }

  &:hover::after {
    opacity: 1;
    right: 18px;
  }
}

.style {
  padding-top: 10px;
  color: $blue !important;
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 500;
}
